Source: pve-cluster
Section: admin
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 7), autotools-dev, libsqlite3-dev, sqlite3, libfuse-dev (>= 2.9.2-4), libcorosync-pve-dev, libqb-dev, libpve-common-perl, libglib2.0-dev, librrd-dev, librrds-perl, rrdcached, check, libdigest-hmac-perl, libxml-parser-perl
Standards-Version: 3.7.3

Package: pve-cluster
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, rsync, libsqlite3-0, sqlite3, libfuse2 (>= 2.9.2-4), fuse, libcorosync4-pve, libqb0, libpve-common-perl, libglib2.0-0, rsyslog, openssl, librrd4, librrds-perl, rrdcached, libdigest-hmac-perl, libxml-parser-perl, insserv
Description: Cluster Infrastructure for Proxmox Virtual Environment
 This package contains the Cluster Infrastructure for the Proxmox
 Virtual Environment, namely a distributed filesystem to store
 configuration data on all nodes.

Package: pve-cluster-dbg
Architecture: any
Description: debug Cluster Infrastructure for Proxmox Virtual Environment

