[Unit]
Description=The Proxmox VE cluster filesystem
ConditionFileIsExecutable=/usr/bin/pmxcfs
Wants=corosync.service
Wants=systemd-timesyncd.service
Wants=rrdcached.service
Before=corosync.service
Before=ceph.service
Before=cron.service
After=network.target
After=sys-fs-fuse-connections.mount
After=systemd-timesyncd.service
After=rrdcached.service
DefaultDependencies=no
Before=shutdown.target
Conflicts=shutdown.target

[Service]
ExecStart=/usr/bin/pmxcfs
ExecStartPost=-/usr/bin/pvecm updatecerts --silent
KillMode=mixed
TimeoutStopSec=10
Type=forking
PIDFile=/var/run/pve-cluster.pid

[Install]
WantedBy=multi-user.target
