#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with=systemd --with=autoreconf

override_dh_strip:
	dh_strip --dbg-package=pve-cluster-dbg

override_dh_systemd_start:
	dh_systemd_start --restart-after-upgrade

override_dh_auto_install:

	make -j1 install DESTDIR=../debian/pve-cluster

override_dh_install:

	dh_install

	# we do not install this, because we don't want to break
	# existing tools which parse syslog entries
	#install -m 0644 -D debian/pve-rsyslog.conf debian/pve-cluster/etc/rsyslog.d/pve-rsyslog.conf
	install -m 0644 -D debian/sysctl.conf debian/pve-cluster/etc/sysctl.d/pve.conf

override_dh_installinit:
